* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,500;1,600;1,700&display=swap');

.clear {clear: both;}

main {
    width: 100%;
    height: 100vh;
    background-image: url('/ASSETS/IMAGES/capa.png');
    background-size: cover;
    background-position: center;    
}

header > section {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    animation-name: menu-bar;
    animation-duration: 9s; 
    animation-iteration-count: infinite;   
}

/*Animação --BARRA MENU--*/
@keyframes menu-bar {
    0% {background-color: transparent;}
    25% {background-color: purple;}
    50% {background-color: black;}
    75% {background-color: purple;}
    100% {background-color: transparent;}
}

header > section > .logo {
    color: white;
    font-family: "Open Sans";
    font-size: 2rem;  
}
/*Início da preparação do Layout responsivo*/
header > section > .menu-mobile {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('/ASSETS/IMAGES/menu.png');
    background-size: 100% 100%;
    cursor: pointer;    
}

header > section > .menu-mobile > ul {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 75px; 
    list-style-type: none;
    text-align: center;    
}

header > section > .menu-mobile > ul > li {
    border-bottom: 1px solid black;
    padding: 8px 0;
}

header > section > .menu-mobile > ul > li > a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem; 
    font-weight: bold;   
}

header > section > .menu-mobile > ul > .impar:hover {
    background-color: rgb(207, 121, 135);    
}

header > section > .menu-mobile > ul > .par:hover {
    background-color:rgb(108, 8, 75);    
}
/*Fim da preparação do Layout responsivo*/

header > section > .menu-desktop > ul > li {
    display: inline; 
    padding-right: 15px;  
}

header > section > .menu-desktop > ul > li > a {
    color: white;
    font-size: 2rem;
    text-decoration: none;    
}
/*efeito (botões MENU)*/
header > section > .menu-desktop > ul > li > a:hover{
    color: yellow;
    font-weight:700;
    transition: 1s;
    cursor: pointer;
}

/*Apresentação Principal*/
.title {
    display: block;
    padding: 15% 0 0 45%;
}

.title h1 {
    font-size: 4rem;
    font-weight: normal;
    color: rgb(196, 185, 185);
    font-family: "Open Sans";
}

.title p {
    font-size: 1.4rem;
    color: rgb(244, 244, 169);
}

/*Seção Description*/

.description{
    width: 100%;
    height: 50vh;
    background-color: #6c17a5;
}

.description h2 {
    font-size: 2.6rem;
    font-weight: normal;
    color: rgb(196, 185, 185);
    padding: 5% 0 1% 10%;
}

.description p {
    color: rgb(196, 185, 185);
    font-size: 1.5rem;
    padding: 0 0 0 10%;
}

.description ul {
    padding: 0 0 0 10%;
}

.description ul li {
    font-weight: bold;
    color: rgb(196, 185, 185);
    margin-left: 18px;
    font-size: 1.3rem;
}

.description [type="button"] {
    margin: 1% 0 0 10%;
    border: none;
    border-radius: 25px;
    width: 140px;
    height: 40px;     
}

.description [type="button"]:hover {
    background-color: rgb(170, 35, 168);
    color: yellow;
    font-weight: bold;
    cursor: pointer;
}

.description img {
    position: absolute;
    left: 60%;
    top: 93%;
    width: 525px;
    height: auto;
}

.presentation {
    width: 100%;
    height: 60vh;    
}

.presentation h2 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    color:rgb(170, 35, 168);
    padding: 5% 0 2% 0;
}

.presentation p {
    text-align: center;
    font-size: 1.5rem;
    color:rgb(170, 35, 168);
    padding: 15px 0;
}

.presentation img {
    position: absolute;
    left: 25%;
    width: 50%;
    height: auto;
    align-items: center;
}

.myTeam {
    width: 100%;
    height: 60vh;
}

.myTeam > .part1 {
    float: left;
    width: 50%;
    height: 60vh;
    background-color: rgb(170, 35, 168);
}

.myTeam > .part1 > .part1-wraper {
    width: 100%;
    max-width: 400px;
    padding: 210px 15px 0 10px;
    float: right;
}

.myTeam > .part1 > .part1-wraper h2 {
    font-size: 3rem;
    color:rgb(196, 185, 185);
    font-weight: normal;
}

.myTeam > .part1 > .part1-wraper p {
    line-height: 30px;
    color:rgb(196, 185, 185);
    font-size: 1.5rem;
}

.myTeam > .part2 {
    float: right;
    width: 50%;
    height: 60vh;
}

.myTeam > .part2 > .part2-wraper {
    width: 100%;
    max-width: 400px;
    padding: 210px 10px 0 15px;
    float: left;
}

.myTeam > .part2 > .part2-wraper > .meusDados {
    display: flex;
}

.myTeam > .part2 > .part2-wraper > .meusDados > .meusDados-texto {
    width: 100%;
    max-width: 300px;
}

.myTeam > .part2 > .part2-wraper > .meusDados > .meusDados-texto h2 {
    font-size: 3rem;
    color:rgb(170, 35, 168);
    font-weight: normal;
}

.myTeam > .part2 > .part2-wraper > .meusDados > .meusDados-texto h3 {
    font-size: 1.2rem;
    color:rgb(170, 35, 168);
    font-weight: bold;
}

.myTeam > .part2 > .part2-wraper > .meusDados > .meusDados-texto p {
    color:rgb(170, 35, 168);
    line-height: 20px;
    font-size: 1.5rem;
    padding-top: 10px;
}

.slider {
    width: 100%;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.slider span {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 8px;
    background-color: gray;
}

.meusDados-photo {
    width: 50px;
    height: 50px;
    background-image: url('/ASSETS/IMAGES/fabio.jpg');
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;    
}

.contact-and-map {
    width: 100%;
    height: 60vh;
    background-color: rgb(67, 8, 67);
}

.contact-and-map > .contact {
    width: 50%;
    float: left;
}

.contact-wraper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;    
    padding: 30px 15px;
}

.contact-wraper h2 {
    font-size: 3rem;
    color:rgb(196, 185, 185);
    font-weight: normal;
}

.contact-wraper p {
    color:rgb(196, 185, 185);
    font-size: 1.3rem;
}

.contact-wraper form input{
    padding: 10px 0 ;
}

.contact-wraper form input[type="text"] {
    width: 100%;
    max-width: 400px;
    height: 48px;
    margin: 10px 0 ;
    padding: 0 5px;
}

.contact-wraper form input[type="email"] {
    width: 100%;
    max-width: 400px;
    height: 48px;
    margin: 10px 0 ;
    padding: 0 5px;
}

.contact-wraper textarea {
    width: 100%;
    max-width: 400px;
    height: 48px;
    margin: 10px 0 ;
    padding: 0 5px;
}

.contact-wraper form input[type="submit"] {
    margin: 1% 0 0 0;
    border: none;
    border-radius: 25px;
    width: 140px;
    height: 40px;   
}

.contact-wraper form input[type="submit"]:hover {
    background-color: rgb(170, 35, 168);
    color: yellow;
    font-weight: bold;
    cursor: pointer;
}

.map {
    float: right;   
    display: block;
    width: 100%;
    max-width: 600px;    
    justify-content: center;
    margin: 4% auto;
}



.map h2{
    font-size: 3rem;
    color:rgb(196, 185, 185);
    font-weight: normal;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-around;  
    width: 100%;
    height: 10vh;
    align-items: center;  
}

footer h2, h3 {
    color:rgb(196, 185, 185);
    font-size: 2.5rem;
}
/*Media Queries --SETUP de Responsividade*/
@media screen and (max-width: 768px) {
    header > section > .menu-desktop {
        display: none;
    }

    header > section {
        justify-content: space-between;
        transition: 1s;
    }

    header > section > .menu-mobile {
        display: block;        
    }

    header > section > .menu-mobile:hover ul {
        display: block;        
    }
    /*Esse ajuste do MENU acompanha a progressão do curso da Danki Code*/
    /*Após a ministração do Capítulo de JavaScript farei um novo projeto apresentando os recursos*/

    .title {
        padding: 0;       
    }

    .title h1 {
        font-size: 3rem;
        text-align: center;
        padding: 35% 0 0 0;
    }

    .title p {
        text-align: center;            
    }

    .description {
        text-align: center;
        height: 40vh;
    }

    .description p {
        margin-bottom: 15px;
    }

    .description li {
        list-style-type: none;
    }

    .description img {
        display: none;
    }

}
